<form *ngIf="user" (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel">

        <!-- User Firstname -->
        <div class="form-group">
          <label for="firstname">Prénom</label>
          <input type="text" class="form-control" id="firstname" required pattern="^[a-zA-Z0-9àéèç]{1,30}$"
            [(ngModel)]="user.firstname" name="firstname" #firstname="ngModel">
        </div>
        <!--
            Si ce n'est pas modifié ou valide c'est caché
             On utilise name.valid pour y ajouer une class css-->
        <div [hidden]="firstname.valid || firstname.pristine" class="card-panel red accent-1">
          Le prénom de l'utilisateur requis (1-30).
        </div>


        <!-- User lastname -->
        <div class="form-group">
          <label for="lastname">Nom de famille</label>
          <input type="text" class="form-control" id="lastname" required pattern="^[a-zA-Z0-9àéèç]{1,30}$"
            [(ngModel)]="user.lastname" name="lastname" #lastname="ngModel">
        </div>
        <!--
            Si ce n'est pas modifié ou valide c'est caché
             On utilise name.valid pour y ajouer une class css-->
        <div [hidden]="lastname.valid || lastname.pristine" class="card-panel red accent-1">
          Le nom de l'utilisateur requis (1-30).
        </div>

        <!-- User password -->
        <div *ngIf="isAddForm">
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" required
              pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" [(ngModel)]="user.password"
              name="password" #password="ngModel">
          </div>
          <!--
            Si ce n'est pas modifié ou valide c'est caché
             On utilise name.valid pour y ajouer une class css-->
          <div [hidden]="password.valid || password.pristine" class="card-panel red accent-1">
            Le mot de passe doit contenir au minimum huit caractères, un chiffre et un caractère spécial.
          </div>
        </div>



        <!-- User phone -->
        <div class="form-group">
          <label for="phone">Téléphone</label>
          <input type="text" class="form-control" id="phone" required pattern="^[0-9]{10}$" [(ngModel)]="user.telephone"
            name="telephone" #telephone="ngModel">
        </div>
        <!--
            Si ce n'est pas modifié ou valide c'est caché
             On utilise name.valid pour y ajouer une class css-->
        <div [hidden]="telephone.valid || telephone.pristine" class="card-panel red accent-1">
          Le téléphone de l'utilisateur est requis et doit faire 10 caractères.
        </div>

        <!-- User mail -->
        <div class="form-group">
          <label for="phone">Mail</label>
          <input type="text" class="form-control" id="mail" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
            [(ngModel)]="user.email" name="email" #email="ngModel">
        </div>

        <!--
            Si ce n'est pas modifié ou valide c'est caché
             On utilise name.valid pour y ajouer une class css-->
        <div [hidden]="email.valid || email.pristine" class="card-panel red accent-1">
          Adresse e-mail invalide
        </div>

        <!-- Roles -->
        <form class="form-group">
          <label for="roles">Roles</label>
          <div *ngIf="user">
            <p *ngFor="let role of roles">
              <label>
                <input type="checkbox" class="filled-in" id="{{ role }}" [value]="role" [checked]="hasRole(role)"
                  [disabled]="!isRolesValid(role)" (change)="selectRole($event, role)" />
                <span [attr.for]="role">
                  <div>
                    {{ role }}
                  </div>
                </span>
              </label>
            </p>
          </div>
        </form>

        <!-- Submit button -->
        <div class="divider"></div>
        <div class="section center">
          <!--biding sur la propriété disabled : le bouton sera tout le temps désactivé si le form est invalide  en utilisant la variable référencé dans le template #userForm dans la 1ère ligne de code-->
          <button type="submit" class="waves-effect waves-light btn">
            Valider</button>
        </div>

      </div>
    </div>
  </div>
</form>
