<div class='row'>
  <div class="col s12 m4 offset-m4">
    <div class="card hoverable">
      <div class="card-content center">
        <span class="card-title">Page de connexion</span>
      </div>
      <div *ngIf="wrongCredentials" class="red-text center error-message">
        <p>Nom d'utilisateur ou mot de passe incorrect</p>
      </div>
      <form #loginForm="ngForm">
        <div>
          <label for="mail">Email</label>
          <input type="text" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <div>
          <label for="password">Mot de passe</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
      </form>
      <div class="card-action center">
        <a (click)="login()" class="waves-effect waves-light blue lighten-1 btn" style="marginLeft:5px">Se connecter</a>
      </div>
    </div>
  </div>
</div>
