  <table class="striped center" style="margin-left:5em">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Mail</th>
        <th>Role</th>
        <th>Téléphone</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td><span *ngFor="let role of user.roles;">
            {{role}}
          </span></td>
        <td>{{user.telephone}}</td>
        <td>
          <a class="btn blue lighten-1 " style="marginLeft:5px"> Editer </a>
          <a class="btn blue lighten-1" style="marginLeft:5px"> Supprimer</a>
        </td>
      </tr>
    </tbody>
  </table>

  <a class="btn-floating btn-large waves-effect waves-light blue z-depth-3"
    style="position: fixed; bottom: 25px; right: 25px;" routerLink="/user/add"> + </a>
