  <table class="striped center" style="margin-left:5em">
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Mail</th>
        <th>Role</th>
        <th>Téléphone</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>alvin@gmail.com</td>
        <td>ADMIN</td>
        <td>0617525854</td>
        <td>
          <a class="btn blue lighten-1 " style="marginLeft:5px"> Editer </a>
          <a class="btn blue lighten-1" style="marginLeft:5px"> Supprimer</a>
        </td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>alan@gmail.com</td>
        <td>ADMIN</td>
        <td>0617525854</td>
        <td>
          <a class="btn blue lighten-1 " style="marginLeft:5px"> Editer </a>
          <a class="btn blue lighten-1" style="marginLeft:5px"> Supprimer</a>
        </td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>jonhatan@gmail.com</td>
        <td>ADMIN</td>
        <td>0617525854</td>
        <td>
          <a class="btn blue lighten-1 " style="marginLeft:5px"> Editer </a>
          <a class="btn blue lighten-1" style="marginLeft:5px"> Supprimer</a>
        </td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>jonhatan@gmail.com</td>
        <td>ADMIN</td>
        <td>0617525854</td>
        <td>
          <a class="btn blue lighten-1 " style="marginLeft:5px"> Editer </a>
          <a class="btn blue lighten-1" style="marginLeft:5px"> Supprimer</a>
        </td>
      </tr>
    </tbody>
  </table>

  <a class="btn-floating btn-large waves-effect waves-light blue z-depth-3"
    style="position: fixed; bottom: 25px; right: 25px;"> + </a>
